.card{
    border: 1px solid #8e8e8e;
    padding: 20px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0px #e9dede;
    transition: background-color 300ms;
    cursor: pointer;
}

.card:hover{
    background-color: #6a6a6a;
}

.card h2{
    white-space:nowrap;     
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1.2em;
}