.loaderContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.spinner{
    animation: spinning 1.2s linear infinite;
}

@keyframes spinning {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}