.container{
    position: relative;
}

.pokemonList{
    overflow-y: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 500px;
    border: 1px solid #595959;
    padding: 20px;
    border-radius: 10px;
}