.errorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 100px);
    height: calc(100% + 10px);
    z-index: 75;
    top: 0;
    background-color: rgba(white, 0);
}

.error{
    background: #3a3a3a;
    padding: 120px 15px;
    text-align: center;
    border-radius: 5px;
    color: white;
    min-width: 600px;
}

.error h1{
    font-size: 1.6em;
}

.error p{
    font-size: 1.2em;
}

.error button:first-of-type{
    margin-right: 5px;
}

.errorIcon{
    font-size: 64px;
}