.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(100, 100, 100, 0.5);
    z-index: 30;
}

.modal{
    margin-top: 10em;
    height: fit-content;
    height: -moz-fit-content;
    position: relative;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.content{
    color: #1f1f1f;
    margin-top: 30px;
    z-index: 100;
    max-height: 600px;
}

.closeBtn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff4b4b;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color .3s;
    padding: 3px 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.closeBtn:hover{
    background-color: #ff8686;
}

/** Mobile view **/
@media only screen and (max-width: 480px) {
    .modal{
        width: 95%;
    }    
}

/** IPads, Tablets view **/
@media only screen and (min-width: 481px) {
    .modal{
        width: 85%;
    }    
}


/** Small screens, laptops view **/
@media only screen and (min-width: 769px) {
    .modal{
        width: 75%;
    }    
}

/** Desktops, large screens **/
@media only screen and (min-width: 1025px) {
    .modal{
        width: 50%;
    }
}